@model JobBoard.ViewModels.Offers.EditVM
@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Edit offer";
}

<div class="row">
    <div class="col-md-12">
        <h4 class="text-primary text-center">Edit Offer</h4>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/Offers/Edit" method="post">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.OwnerId)
            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(m => m.Category)
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })      
                @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @Html.ValidationMessage("summeryError")
            </div>

            <div class="form-group d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary">Edit</button>
                <a href="/Offers/Index" style="margin: 1rem;">Back</a>
            </div>
        </form>
    </div>
</div>
